{% macro slider(images) %}
<div class="container-fluid px-0 mt-5 pt-md-4">
  <div id="single-owl" class="owl-carousel slider single-item bg-home-custom slider-pc">
    {% for img in images %}
      <div class="bg-home-80" style="background: url('{{ img }}') no-repeat center center / cover;"></div>
    {% endfor %}
  </div>
</div>
{% endmacro %}
