<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-12 mb-0 pb-0">
              <a href="index.html" class="logo-footer">
                  <picture>
                      <source media="(max-width: 1024px)" srcset="/assets/images/logo-light.png" height="48">
                      <img src="/assets/images/logo-light.png" height="96" alt="">
                  </picture>
              </a>
              <p class="mb-0 mt-4">Email: mkt@airproce.com.vn</p>
              <p class="mb-0">Hotline: 1900 9020</p>
              <p class="mb-0"></p>
          </div><!--end col-->
          <div class="col-md-6 col-12 mb-0 pb-0">
              <h4 class="text-light footer-head mt-4">AIRPROCE TECHNOLOGY CO.,LTD</h4>
              <p class="mb-2">2218 Hunan Road, East Building 28F, Pudong New District, Shanghai, China</p>
              <a href="https://www.airproce.net/" class="text-foot" target="_blank" ref="noreferrer">www.airproce.net</a>
          </div><!--end col-->
      </div><!--end row-->
  </div><!--end container-->
</footer>
<!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="javascript:void(0)" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/scrollspy.min.js"></script>
<!-- SLIDER -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/owl.init.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/slick.init.js"></script>
<!-- Icons -->
<script src="/assets/js/feather.min.js"></script>
<!-- Switcher -->
<script src="/assets/js/switcher.js"></script>
<!-- Main Js -->
<script src="/assets/js/app.js"></script>