{% set postslist = collections.post %}
  <div class="container">
      <!-- Logo container-->
      <div>
          <a class="logo" href="index.html">
              <img src="/assets/images/logo.png" height="36" alt="logo">
          </a>
      </div>
      <!--end login button-->
      <!-- End Logo container-->
      <div class="menu-extras">
          <div class="menu-item">
              <!-- Mobile menu toggle-->
              <a class="navbar-toggle">
                  <div class="lines">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </a>
              <!-- End mobile menu toggle-->
          </div>
      </div>

      <div id="navigation">
          <!-- Navigation Menu-->
           {% set navPages = collections.all | eleventyNavigation %}
          <ul class="navigation-menu">
              <!-- {%- for entry in navPages %}
                <li>
                  <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
                </li>
              {%- endfor %} -->
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/about/">Về chúng tôi</a></li>
              <li class="has-submenu">
                <a href="javascript:void(0)">Sản Phẩm</a><span class="menu-arrow"></span>
                <ul class="submenu megamenu">
                    <li>
                        <ul>
                {% for post in postslist | reverse %}
                    <li>
                        <a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
                </ul>
                <li><a href="/contact/">Liên hệ</a></li>
            </li>
          </ul><!--end navigation menu-->
      </div><!--end navigation-->
  </div><!--end container-->