---
title: test
date: 2025-07-02T22:21:00.000Z
summary: test
tags:
  - post
---
{% titlesection "h2|Thanh lọc toàn diện bụi mịn, formaldehyde và vi rút1|Dòng ProceCare" %}

{% image "small|/static/img/product1.png" %}

{% textsection "Để đáp ứng nhu cầu bảo vệ hệ hô hấp cho trẻ sơ sinh và người bị dị ứng, đồng thời nâng cao chất lượng không khí một cách hiệu quả và liên tục, dòng ProceCare mới đã phá vỡ mọi giới hạn với những cải tiến vượt trội: độ kín khí tối ưu, vùng lọc mở rộng, quy trình không keo độc hại và luồng không khí được tích hợp hoàn hảo, đưa nó đến gần với một chiếc máy lọc không khí lý tưởng" %}

{% imagetextgroup "style1|/static/img/aizhineng.png|Thanh lọc toàn năng|undefined,/static/img/nengli.png|Thanh lọc toàn năng|undefined" %}

{% image "large|/static/img/major-b3-en.png" %}

{% titlesection "h2|Tuổi thọ tối đa lên đến 36 tháng|Ba lớp lọc liên tục" %}

{% imagetextgroup "style1||undefined|undefined" %}

{% image "large|/static/img/major-out.png" %}

{% titlesection "h2|Máy có thể đáp ứng nhiều nhu cầu khác nhau|Chỉ cần thay bộ lọc với chức năng khác nhau" %}

:::textsection
Giống như việc mọi người mặc áo phông vào mùa hè và cần áo khoác dày vào mùa đông, môi trường không khí cũng không phải lúc nào cũng giống nhau. Một ngôi nhà mới cải tạo cần một máy lọc không khí có khả năng loại bỏ mạnh mẽ các khí độc hại như formaldehyde, trong khi một gia đình có trẻ sơ sinh cần máy lọc không khí có khả năng lọc hiệu quả các chất gây dị ứng.
:::

:::imagetextgroup
{
  "size": "style3",
  "blocks": \[
    {
      "title": "Chế độ tiêu chuẩn",
      "description": "Hiệu quả hoàn hảo trong việc lọc sạch",
      "image": "/static/img/major-three-l1.png"
    },
    {
      "image": "/static/img/major-three-l2.png",
      "title": "Chế độ loại bỏ formaldehyde",
      "description": "Chuyên dụng cho ô nhiễm từ trang trí"
    }
  ]
}
:::

{% titlesection "h2|Bật máy lên trước khi tan làm, tận hưởng khí sạch ngay khi về nhà|Điều khiển thông minh từ xa bằng APP" %}

:::imagetextgroup
{
  "size": "style3",
  "blocks": \[
    {
      "image": "/static/img/major-bp-1.png",
      "description": "Ngay cả khi bạn đang ra ngoài, bạn có thể theo dõi dữ liệu không khí trong nhà kịp thời bằng Ứng dụng AirProce và vận hành nó từ xa."
    },
    {
      "image": "/static/img/major-bp-2.png"
    }
  ]
}
:::

{% titlesection "h2|Ngoại hình bắt mắt – Hiệu suất mạnh mẽ|Cảm biến không khí Bluetooth nhạy bén, phát hiện nhanh chóng các chất ô nhiễm" %}

:::imagetextgroup
{
  "size": "style1",
  "blocks": \[
    {
      "image": "/static/img/major-bp-4-1.png",
      "title": "49 lớp",
      "description": "Thân ABS an toàn và vô hại."
    }
  ]
}
:::

:::textsection

1. Sau khi sử dụng bộ lọc hiệu quả cao H13 HEPA V2, chất hạt CCM là hơn 1022000mg, cao hơn 85 lần so với tiêu chuẩn quốc gia P4 (≥ 12000mg), và khả năng loại bỏ khói mù tương đương với 85 bộ lọc P4 thông thường; nguồn dữ liệu: để biết chi tiết, vui lòng tham khảo CVC Testing Technology Co., Ltd, báo cáo số: WTS2019-9591-2
2. Tỷ lệ thanh lọc vi rút H1N1 ≥ 99,99% Nguồn dữ liệu: xem Trung tâm Kiểm nghiệm Vi sinh Công nghiệp Quảng Châu; Số kiểm tra: KJ20180330
3. Formaldehyde CCM hơn 7710mg, gấp 5 lần tiêu chuẩn quốc gia F4 (≥ 1500mg). Nguồn dữ liệu: thêm chi tiết từ CVC Testing Technology Co., Ltd Báo cáo số：WTS2019-9592-2
   :::

:::imagecustom
{
  "size": "small",
  "images": \[
    "/static/img/pbl1.png",
    "/static/img/pbl2.png"
  ]
}
:::

:::slider
![](/static/img/bg1.jpg)
![](/static/img/bg2.jpg)
![](/static/img/bg3.jpg)
:::
