---
title: test
date: 2025-07-02T22:09:00.000Z
summary: test
tags:
  - post
---
:::titlesection tag=h2
Thanh lọc toàn diện bụi mịn, formaldehyde và vi rút
:::

:::imagecustom /static/img/product1.png size=small :::

:::imagetextgroup
{
  "size": "style1",
  "blocks": [
    {
      "image": "/static/img/challenge-en-4.png",
      "description": "Để đáp ứng nhu cầu bảo vệ hệ hô hấp cho trẻ sơ sinh và người bị dị ứng, đồng thời nâng cao chất lượng không khí một cách hiệu quả và liên tục, dòng ProceCare mới đã phá vỡ mọi giới hạn với những cải tiến vượt trội: độ kín khí tối ưu, vùng lọc mở rộng, quy trình không keo độc hại và luồng không khí được tích hợp hoàn hảo, đưa nó đến gần với một chiếc máy lọc không khí lý tưởng."
    }
  ]
}
:::
