---
title: test
date: 2025-07-02T22:21:00.000Z
summary: test
tags:
  - post
---
:::titlesection tag=h2
Thanh lọc toàn diện bụi mịn, formaldehyde và vi rút
:::

:::imagecustom
{
  "size": "small",
  "images": [
    "/static/img/product1.png"
  ]
}
:::

:::imagetextgroup
{
  "size": "style1",
  "blocks": [
    {
      "description": "Để đáp ứng nhu cầu bảo vệ hệ hô hấp cho trẻ sơ sinh và người bị dị ứng, đồng thời nâng cao chất lượng không khí một cách hiệu quả và liên tục, dòng ProceCare mới đã phá vỡ mọi giới hạn với những cải tiến vượt trội: độ kín khí tối ưu, vùng lọc mở rộng, quy trình không keo độc hại và luồng không khí được tích hợp hoàn hảo, đưa nó đến gần với một chiếc máy lọc không khí lý tưởng.",
      "image": "/static/img/challenge-en-4.png"
    }
  ]
}
:::

:::imagetextgroup
{
  "size": "style2",
  "blocks": [
    {
      "image": "/static/img/nengli.png",
      "title": "Thanh lọc toàn năng"
    },
    {
      "title": "Quản lý thông minh",
      "image": "/static/img/aizhineng.png"
    }
  ]
}
:::

:

:::imagecustom
{
  "size": "small",
  "images": [
    "/static/img/major-b3-en.png"
  ]
}
:::

:::titlesection tag=h2
Tuổi thọ tối đa lên đến 36 tháng
:::

:::imagetextgroup
{
  "size": "style3",
  "blocks": [
    {
      "title": "Bộ lọc HEPA cấp H13",
      "description": "Bộ lọc HEPA H13 cao cấp được sử dụng để loại bỏ các hạt bụi mịn như PM0.3, vi khuẩn và virus, với hiệu quả lọc virus đạt từ 99,99% trở lên. Quy trình gấp bộ lọc với chiều cao 107mm được cải tiến, giúp diện tích bề mặt vật liệu lọc đạt 5m². Nhờ khả năng giữ bụi sâu, chỉ số tích tụ bụi (CCM) đạt tới 1.022.000mg.\n\nBộ lọc HEPA 3M sử dụng công nghệ thổi nóng chảy, nhập khẩu từ Mỹ\nVật liệu lọc 3M được nhập khẩu từ Hoa Kỳ, kết hợp công nghệ hấp phụ tại chỗ và công nghệ giữ bụi sâu, mang lại khả năng lọc hiệu quả cao và giảm thiểu lực cản không khí.",
      "image": "/static/img/major-b1-i1-600x434.png"
    }
  ]
}
:::



:::imagecustom
{
  "size": "small",
  "images": [
    "/static/img/major-out.png"
  ]
}
:::

:::titlesection tag=h2
Máy có thể đáp ứng nhiều nhu cầu khác nhau
:::

:::textsection
Giống như việc mọi người mặc áo phông vào mùa hè và cần áo khoác dày vào mùa đông, môi trường không khí cũng không phải lúc nào cũng giống nhau. Một ngôi nhà mới cải tạo cần một máy lọc không khí có khả năng loại bỏ mạnh mẽ các khí độc hại như formaldehyde, trong khi một gia đình có trẻ sơ sinh cần máy lọc không khí có khả năng lọc hiệu quả các chất gây dị ứng.
:::

:::imagetextgroup
{
  "size": "style3",
  "blocks": [
    {
      "title": "Chế độ tiêu chuẩn",
      "description": "Hiệu quả hoàn hảo trong việc lọc sạch",
      "image": "/static/img/major-three-l1.png"
    },
    {
      "image": "/static/img/major-three-l2.png",
      "title": "Chế độ loại bỏ formaldehyde",
      "description": "Chuyên dụng cho ô nhiễm từ trang trí"
    }
  ]
}
:::
