<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <body>
    <header id="topnav" class="defaultscroll sticky">
      {% include "components/nav.njk" %}
    </header>

    {% block content %}{% endblock %}

    {% include "components/footer.njk" %}
  </body>

</html>
